{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>InertjaJS Django Example 🤘</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Django InertiaJS Example">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    {% render_bundle 'main' 'css' %}
</head>
<body class="bg-gray-200 text-gray-800 font-sans">
  {% comment %} easier to do it this way... take a look at assets/js/index.js {% endcomment %}
  {{ page|json_script:"page" }}
  <div id="app"></div>
  {% render_bundle 'main' 'js' %}
</body>
</html>