{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>InertjaJS Django Example 🤘</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Django InertiaJS Example">
    {% render_bundle 'main' 'css' %}
</head>
<body class="bg-gray-200 text-gray-800 font-sans">
  <div id="app" data-component="{{component}}" data-props="{{props}}"></div>
  {% render_bundle 'main' 'js' %}
</body>
</html>